body{
    text-align: center;
}

table, th, td{
    border: 1px solid;
    align-items: center;
	text-align: center;
}
tr{
/* 	display */
	align-items: center;
	justify-content: center;
	text-align: center;
}

.row-css{
    background-color: black;
    color: white;
}