body{
    text-align: center;
}

table, th, td{
    border: 1px solid;
    align-items: center;
	text-align: center;
}
tr{
/* 	display */
	align-items: center;
	justify-content: center;
	text-align: center;
}

table table{
	width: 100%; height: auto;
}

.row-css{
    background-color: rgb(0, 0, 0);
    color: white;
}